DATABASE_URL="postgresql://username:password@host:port/database_name"
PORT=port
ACCESS_TOKEN_SECRET=access secret
ACCESS_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=refresh secret
REFRESH_EXPIRES_IN=7d
CLIENT_URL=frontend url
NODE_ENV=development

